body{
    padding: 0;
    margin:0;
    }
    
 body *{
        box-sizing: border-box;
}
html{
    height: 100%;
}
.container{
    height: 100% ;
    padding:0;
    display:grid;
    grid-template-rows: auto 1fr;

}

.windowTitle{
    padding: 10px;
    height: auto;
    display: inline-block;
    grid-template-rows: auto 1fr;
    font-family: montserrat;
}

.windowControls{
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 5px;
    width: 100px;
}

.windowControls button{
    outline: 0;
    border: 0;
    padding: 5px;
    background: none;
}

.titleBarStyle{
    background: #202327;
    color: #fff;
    font-size:10pt;
}
.windowControlStyle {

}
.windowControlsStyle button {

    color:#fff;
    font-size:10pt;
}

.windowControlsStyle button:hover{
    background: #48494c;
}
.preventSelect{
    user-select:none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
.draggable{
    -webkit-app-region:drag;
}
.titleBar{
    display: grid;
    grid-template-columns: 1fr auto;
}

